# Directories building kernel modules should have two files:
#
# Makefile.in:
#
# MODULES := <module-name>
# <module-name>-objs := file1.o file2.o file3.o
# include /Users/crb002/github/lustre-release/Rules
#
# and autoMakefile.am:
#
# if MODULES
# modulefs_DATA = <module-name>$(KMODEXT)
# endif
#
# DIST_SOURCES = $(<module-name>-objs:.o=.c) <other sources>
# MOSTLYCLEANFILES = *.o *.ko *.mod.c

ifeq ($(PATCHLEVEL),)

include autoMakefile

fix-kext-ownership:
	@if test -d $(DESTDIR)$(kextdir) ; then \
		echo chown -R root:wheel $(DESTDIR)$(kextdir) ; \
		chown -R root:wheel $(DESTDIR)$(kextdir) || \
			echo >&2 "*** WARNING: Could not fix kext ownership for $(DESTDIR)$(kextdir)" ; \
	fi

else

include 

EXTRA_CFLAGS := $(EXTRA_PRE_CFLAGS)
EXTRA_CFLAGS += -include /Users/crb002/github/lustre-release/undef.h -include /Users/crb002/github/lustre-release/config.h  -g -I/Users/crb002/github/lustre-release/libcfs/include -I/Users/crb002/github/lustre-release/lnet/include -I/Users/crb002/github/lustre-release/lustre/include -Wno-format-truncation -Wno-stringop-truncation -Wno-stringop-overflow -g -O2 -Wall -Werror
EXTRA_CFLAGS += $(EXTRA_POST_CFLAGS)

KBUILD_EXTRA_SYMBOLS += 

obj-m += $(patsubst %,%.o,$(MODULES))

endif # PATCHLEVEL
